@charset 'utf-8';
body {
    margin: 0;
    padding: 0;
    text-align: left;
    /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
    color: #000000;
    font-size: 100.01%;
    clear: none;
    font-family: Arial, Helvetica, sans-serif;
    background: #FAA83F;
    /* Old browsers */
    background: -moz-linear-gradient(top, #FAA83F 0%, #FFFFFF 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAA83F), color-stop(100%, #FFFFFF));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FAA83F 0%, #FFFFFF 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FAA83F 0%, #FFFFFF 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FAA83F 0%, #FFFFFF 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #FAA83F 0%, #FFFFFF 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FAA83F', endColorstr='#FFFFFF', GradientType=0);
    /* IE6-9 */
    background-repeat: no-repeat;
    /* background-image:url(images/oranges65.jpg);
		background-repeat:repeat; */
}

.SH #container {
    width: 900px;
    background: #FFFFFF;
    margin: 0 auto;
    border: 0px solid #1C3F95;
    font-size: 1em;
}

#header {
    padding: 0;
    background-color: #fff;
    margin: 10px;
}

#about img {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .75);
    margin-left: 10px;
    margin-bottom: 10px;
}

.SH #sidebar1 {
    float: right;
    width: 22%;
    color: #000000;
    font-size: 0.9em;
    border-top-style: none;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    background: #8BA4D5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #8BA4D5 0%, #8BA4D5 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8BA4D5), color-stop(100%, #8BA4D5));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8BA4D5 0%, #8BA4D5 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8BA4D5 0%, #8BA4D5 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8BA4D5 0%, #8BA4D5 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #8BA4D5 0%, #8BA4D5 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8BA4D5', endColorstr='#8BA4D5', GradientType=0);
    /* IE6-9 */
    font-style: normal;
    border-left-style: none;
    background-repeat: repeat-x;
    text-align: center;
}

.SH #mainContent {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0px;
    margin-left: 0;
    padding-top: 0px;
    padding-right: 2%;
    padding-bottom: 0px;
    padding-left: 3%;
}

.SH #mainContent a:link {
    color: #1C3F95;
    text-decoration: none;
}

.SH #mainContent a:visited {
    color: #1C3F95;
    text-decoration: none;
}

.SH #mainContent a:hover {
    color: #FAA83F;
    text-decoration: underline;
}

.clearfloat {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}

input:focus {
    background-color: #FAEAD6;
}

textarea:focus {
    background-color: #FAEAD6;
}

h1 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
    font-weight: bold;
    color: #BD2025;
}

ul {
    list-style-type: disc;
}

th {
    font-weight: bold;
    background-color: #1C3F95;
    color: #FFFFFF;
    text-align: center;
}

.center_cell {
    text-align: center;
}

td {
    background-color: #FFFFFF;
    color: #000000;
}

#indent {
    margin-left: 25px;
    width: 525px;
}

#levels {
    float: left;
}

.indentdiv {
    margin-left: 40px;
    margin-right: 30px;
    background-color: #FAEAD6;
    padding: 30px;
    border: 3px solid #1C3F95;
}

#footer {
    background-color: #FAA83F;
    font-size: 75%;
    color: #FFFFFF;
    padding: 10px;
}

#flyout {
    padding: 0px;
    margin: 0px 0 0 0;
    list-style: none;
    position: relative;
    z-index: 100;
}

#flyout ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    left: -9999px;
    top: 0;
}

#flyout li {
    margin-bottom: 15px;
    height: 40px;
}

#flyout li a {
    display: block;
    text-align: center;
    height: 28px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-repeat: no-repeat;
}

#flown li {
    margin-bottom: 1px;
}

#flyout li:hover {
    position: relative;
}

#flyout li:hover> a {
    font-weight: bold;
}

#flyout:hover ul,
#flyout:hover ul:hover ul {
    left: -176px;
    text-align: right;
}

#lefttext {
    width: 68%;
    margin-left: 15px;
    z-index: -2;
}

.spacer {
    width: 65px;
    float: left;
}

label {
    cursor: pointer;
}

.lab {
    font-weight: bold;
}

#tog1,
#tog2,
#tog3 {
    display: none;
    /* hide the checkbox */
}

#menu1,
#menu2,
#flown {
    display: none;
}

#tog1:checked+ #menu1,
#tog2:checked+ #menu2,
#tog3:checked+ #flown {
    display: block;
}

.navigation {
    width: 100%;
}

.navigation ul {
    /* positioning */
    position: relative;
    z-index: 1000;
    /* remove the dots next to list items: */
    list-style: none;
    /* get rid of any default or inherited margins and padding: */
    margin: 0;
    padding: 0;
    /* styling: */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
}


/* we're using the direct descendant selectors > to ONLY affect the main menu items */

.navigation> ul> li {
    position: relative;
    float: left;
    margin-left: 20px;
}

.navigation> ul> li> a {
    /* positioning */
    display: block;
    /* styling: */
    background-color: #1C3F95;
    padding: 8px 14px;
    text-decoration: none;
    color: #FFFFFF;
    transition-property: all;
    transition-duration: 500ms;
}

.navigation> ul> li> a:hover {
    background-color: #527CEB;
}

.navigation ul ul {
    position: absolute;
    z-index: 100;
    height: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: 500ms;
}

.navigation> ul> li:hover ul,
.navigation> ul> li> a:hover ul,
.navigation ul ul li:hover> ul,
.navigation ul ul li a:hover> ul {
    height: 320px;
}


/* drop-down item styles */

.navigation ul ul li {
    background-color: #1C3F95;
    width: 170px;
}

.navigation ul a:hover {
    background-color: #527CEB;
    transition-property: all;
    transition-duration: 750ms;
}

.navigation ul ul li a {
    display: block;
    text-decoration: none;
    margin: 0px 0px;
    padding: 5px 12px;
    color: #FFFFFF;
}

.navigation ul ul li a:hover,
.navigation ul ul li:hover> a {
    color: #FFFFFF;
}

.navdiv {
    height: 37px;
    padding: 3px;
    background-color: #1C3F95;
}

.button {
    display: inline-block;
    width: 82px;
    outline: none;
    cursor: pointer;
    border: solid 1px #1C3F95;
    color: #000000 !important;
    background-color: #D4E0F2;
    /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, #D4E0F2, #F6F8FF);
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(top, #D4E0F2, #F6F8FF);
    /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(top, #D4E0F2, #F6F8FF);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to bottom, #D4E0F2, #F6F8FF);
    /* Standard syntax; must be last */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#D4E0F2', endColorstr='#F6F8FF');
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 0em .55em;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    border-radius: .8em;
    transition-property: all;
    transition-duration: 500ms;
}

.button:link {
    color: #222222 !important;
}

.button:visited {
    color: #222222 !important;
}

.button:hover {
    text-decoration: none !important;
    color: #FFFFFF !important;
    background-color: #8EB5F2;
    /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, #8EB5F2, #D4E0F2);
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(top, #8EB5F2, #D4E0F2);
    /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(top, #8EB5F2, #D4E0F2);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to bottom, #8EB5F2, #D4E0F2);
    /* Standard syntax; must be last */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#8EB5F2', endColorstr='#D4E0F2');
}

.button:active {
    color: #862990 !important;
    position: relative;
    top: 2px;
}

@media only screen and (max-width: 800px) {
    #header {
        display: none;
    }
    .navdiv {
        padding-top: 5px;
        height: 50px;
    }
    .indentdiv {
        margin-left: 1%;
        margin-right: 1%;
        background-color: #FAEAD6;
        padding: 2%;
        border: 3px solid #1C3F95;
    }
    body {
        font-size: 125%;
    }
    .spacer {
        width: 0px;
    }
    #container {
        width: 100% !important;
        border: none !important;
    }
    .navigation> ul {
        margin-left: 2%;
    }
    .navigation> ul> li {
        margin-left: 5%;
    }
    .navigation> ul> li> a {
        padding: 0px 0px;
        font-size: 100%;
    }
    .navigation ul ul li a {
        padding: 2px 10px;
    }
}